<% content_for :title do %>
  JPEG Stash
<% end %>
<p>
  a place to stash + share all your best jpegs!
</p>

<% if current_user %>
  <p>
    Hey @<%= link_to current_user.username, current_user %>. <%= link_to "Log Out?", logout_path %><br>
  </p>
  <p>
    <%= link_to "✨📷 STASH A JPEG 📷✨", upload_path %>
  </p>
<% else %>
  <p>
    <%= link_to "✨📷 STASH A JPEG 📷✨", signup_path %> <br>
    <%= link_to "Sign Up", signup_path %> or 
    <%= link_to "Log In", login_path %>
  </p>
<% end %>

<p id="notice"><%= notice %></p>

<h2>Feed</h2>

<%= render 'shared/feed', images: @images %>