<% content_for :title do %>
  JPEG Stash
<% end %>
<p>
  a place to stash + share all your best jpegs!
</p>

<!--<p id="notice"><%= notice %></p>-->
<% if current_user %>
  <p>
    Hey @<%= current_user.username %>. <%= link_to "Log Out?", logout_path %><br>
  </p>
  <p>
    <%= link_to "✨📷 STASH A JPEG 📷✨", upload_path %>
  </p>
<% else %>
  <p>
    <%= link_to "Sign Up", signup_path %> or 
    <%= link_to "Log In", login_path %>
  </p>
<% end %>

<%= render 'feed' %>